#grid-container {
    margin-top: 0.2rem;
    display: grid;
    grid-template-columns: minmax(200px, 3fr) 1fr 1fr 1fr;
    grid-column-gap: 0.5rem;
    align-items: baseline;
    button {
        background-color: #1f1d1d;
        text-align: left;
        i {
            padding-right: 0.5rem;
        }
    }
    .btn-secondary:focus, .btn-secondary.focus {
       /* box-shadow: 0 0 0 0.2rem #80bdff63;
        border-color:#80bdff;*/
        box-shadow: 0 0 0 0.2rem #80bdffe8;
        border-color: #0062cc;
    }
    .btn-secondary:hover {
        background-color: #4e4e4c;     
        background: -moz-radial-gradient(center, ellipse cover,  #45484d 0%, #000000 100%);
        background: -webkit-radial-gradient(center, ellipse cover,  #45484d 0%,#000000 100%); 
        background: radial-gradient(ellipse at center,  #45484d 0%,#000000 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=1 ); 
    }

    .dropdown-basic {
        display: block;
        width: 100%;
    }
    .dropdown-menu {
        padding: 0.5rem 0.25rem;
        min-width: 100%;
    }
    .dropdown-toggle::after {
        margin-left: 2rem;
    }
}
