#applied-filters {
    i {
        padding-right: 0.5rem;
    }
    

   /* button {
        color: #fff;
        background-color: #404040;
        border: none;
    }

    button:hover {
        background-color: grey;
    }*/
}
