.column-header {
    display: flex;

    p {
        margin: 0px;
    }

    .icon-column {
        color: white;
        margin-left: 0.4rem;
    }

    .fa {
        text-decoration: none;
    }

    &:hover {
        background-image: radial-gradient(circle, #7d7e7d, #646463, #4c4b4a, #353332, #1f1d1d);
    }
}

.thin {
    display: flex;
    flex: 0 0 10rem;
    flex: 1;
}

.standard {
    display: flex;
    flex: 0 0 10rem;
    flex: 2;
}

.large {
    display: flex;
    flex: 0 0 30rem;
    flex: 3;
}