.row {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.row-container {
    overflow: hidden;
    background-color: #1f1d1d;
    color: white;
}


@media(max-width: 40rem) {
    .row-container {
        .row {
            display: grid;
            grid-auto-flow: column;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            padding-top: 1rem;
            padding-bottom: 1rem;
            border-bottom: solid thin;
            .cell {
                padding: 0px;
            }
        }
    }
}

@media(max-width: 20rem) {
    .grid-header {
        display: none; 
    }
    .row-container {
        .row {
            display: flex !important;
            .cell {
                margin-right: 10rem;
            }

            .title-wrapper {
                font-size: large;
                margin-right: -1rem;
            }
        }
    }
}