#grid-container {
    .grid-button {
        display: grid;
        grid-template-columns: auto 1fr auto;
        align-items: center;
        background-color: #1f1d1d;
        text-align: left;
        width: 100%;
        i {
            padding-right: 0.5rem;
        }
    }

    .grid-button:focus, .grid-button.focus {
        box-shadow: 0 0 0 0.2rem #80bdffe8;
        border-color: #0062cc;
    }
    
    .grid-button:hover {
        background-image: radial-gradient(circle, #7d7e7d, #646463, #4c4b4a, #353332, #1f1d1d);
    }

    .custom-dropdown {
        padding: 0.5rem 0.25rem;
        min-width: 100%;
    }
}
