.column-header {
    .fa {
        text-decoration: none;
        margin-right: 5px;
        margin-top: 5px;
    }

    .column {
        display: flex;
        cursor: pointer;

        &:hover {
            .filter-icon-column {
                color: white;   
            }
        }

        .hidden-icon {
            visibility: hidden;
        }
        
        .filter-icon-column {
            margin-left: auto;
            color: transparent;
        }
        
        .filter-icon-column-visible {
            margin-left: auto;
            color: white;
        }

        .filter-header {
            margin-left: auto;
        }

        .sort-header {
            width: 90%;
        }
    }
    
    .sort-icon {
        color: white;
    }
    
    &:hover {
        background-image: radial-gradient(circle, #252fbd, #2c158f, #0b0652, #2c158f,  #252fbd);
    }
    
    .dropdown {
        width: 100%;
    }
}


.thin {
    display: flex;
    flex: 0 0 5rem;
    flex: 1;
}

.standard {
    display: flex;
    flex: 0 0 10rem;
    flex: 1;
}

.large {
    display: flex;
    flex: 0 0 30rem;
    flex: 2;
}

@media (max-width: 80rem){

}

@media (max-width: 60rem){

}