.column-header {
    .column {
        display: flex;
        width: 90%;
        justify-content: space-between;
    }

    .sort-header {
        display: flex;
        width: 90%;
    }

    p {
        margin: 0px;
    }

    .icon-column {
        color: white;
    }

    .fa {
        text-decoration: none;
    }

    .sort-icon {
        color: white;
    }

    &:hover {
        background-image: radial-gradient(circle, #7d7e7d, #646463, #4c4b4a, #353332, #1f1d1d);
    }
}

.thin {
    display: flex;
    flex: 0 0 5rem;
    flex: 1;
}

.standard {
    display: flex;
    flex: 0 0 10rem;
    flex: 1;
}

.large {
    display: flex;
    flex: 0 0 30rem;
    flex: 2;
}