.header {
    .header-filter {
        display: none;
    }
}

.header-title {
        display: flex;
        width: 95%;
        justify-content: space-between;
        border-bottom: 0.1rem solid white;
        color: white;
    
            p {
                margin: 0px;
                margin-left: 5px;
            }
    
            .icon-header {
                color: white;
                display: none;
            }

            .header-contents {
                width: 100%;
                display: flex;
                align-items: center;
                cursor: auto;
                p {
                    cursor: default;
                }

                &:hover {
                    .filter-icon-hoverable {
                        color: white;
                    }
                }
    
                .filter-icon {
                    color: white;
                    margin-left: auto;
                }
                
                .hidden-icon {
                    visibility: hidden;
                    color: white;
                }
    
                .filter-icon-hoverable {
                    color: transparent;
                    margin-left: auto;
                }
            }
        }


@media (min-width: 50rem){
    .header {
        .header-filter {
            display: none !important;
        }
    }
        .header-contents {
            .sort-icon-title {
                visibility: hidden;
            }

            .filter-icon {
                visibility: hidden;
            }

            .filter-icon-hoverable {
                visibility: hidden;
            }
        }

        .grid-header {
            .header-container {
                .dd {
                    visibility: hidden;
                }
            }
        }
    }