.header-title {
    display: flex;
    width: 95%;
    justify-content: space-between;
    border-bottom: 0.1rem solid white;

        p {
            margin: 0px;
        }

        .icon-header {
            color: white;
            display: none;
        }

        .dropdown {
            margin: auto;
        }
    
        .dropdown a:hover {
            text-decoration: none;
        }

        .header-contents {
            width: 100%;
            display: flex;
            align-items: center;

            .dropdown-menu{
                padding: 0.2rem;
            }

            .hidden-icon {
                visibility: hidden !important;
            }

            .filter-icon-title {
                visibility: hidden;
                margin-left: 1rem;
            }

            .sort-icon-title{
                visibility: hidden;
            }
        }
}

@media (min-width: 40rem){
    .header-title{
        .dropdown {
            display: none;
        }
    }
}

@media (max-width: 40rem) {
    .header-title{
        .header-contents{
            .sort-icon-title {
                visibility: visible;
            }

            .filter-icon-title {
                visibility: visible;
            }
        }
    }
}