$size: 90rem;
$column-offset : 2;
$cells: Fourth, Third, Second, First;

.ColumnContainer {
    display: flex;
}

.Column {
    flex: 1;
    display: flex;
    padding-left: 1rem;
}

.Column p {
    margin: 0px;
}

.Icon
{
    margin: 0.3rem;
}

@each $cell in $cells{
    @media (max-width: $size / $column-offset){
        .#{$cell} {
            display: none;
        }
    }
    $column-offset: $column-offset + 1;
}