.Container
    display: flex;
    width: 100%;
    padding: 0.4rem;

.Element
    display: flex;
    flex-direction: column;
    width: 100%;
    align-content: space-between

.ElementHeader
    p
        margin-bottom: 0.3rem;

    display: flex;
    border-bottom: 1px solid black;
    width: 98%;

.ElementContent
    p
        margin-bottom: 0rem;
        
    display: flex;
    justify-content: flex-start;
    grid-gap: 20rem;