$screen-size: 90rem;

.headGrid {
    display: flex;
}

.headerWrapper{
    padding-left: 1rem;
    display: flex;
    width: 98%;
    border-bottom: 1px solid black;
}

.headerWrapper p {
    margin: 0;
}

.globalWrapper {
    background-color: lightgray;
    padding: 0.5rem;
}

.secondHeader, .firstHeader {
    display: flex;
    flex: 1;
}

@media (max-width: $screen-size / 2) {
    .secondHeader {
        display: None;
    }
}

@media (max-width: $screen-size / 3) {
    .firstHeader {
        display: None;
    }
}