$screen-size: 90rem;

.firstHeader
{
    display: flex;
    flex: 1;
}

.secondHeader
{
    display: flex;
    flex: 1;
}

.Container {
    display: flex;
    p {
        margin: 0px;
    }
    padding: 0.5rem;
}

.HeaderName {
    flex: 1;
    display: flex;
}

@media (max-width: $screen-size / 2) {
    .secondHeader {
        display: None;
    }
}

@media (max-width: $screen-size / 3) {
    .firstHeader {
        display: None;
    }
}