.columnHeader {
    display: flex;
}

.columnHeader p {
    margin: 0px;
}

.icon-column {
    margin-top: 0.4rem;
    margin-left: 0.4rem;
}

.thin {
    display: flex;
    flex: 0 0 10rem;
}

.medium {
    display: flex;
    flex: 1;
}

.large {
    display: flex;
    flex: 2;
}