#view-item {
    background-color: #1f1d1d;
    padding: 50px;
    color: white;
    grid-column: 1/5;
    font-size: larger;
    font-weight: 500;
    border: 1px solid;
    border-radius: 0.25rem;
    grid-row: 3;
}