.filters {
    //background-color:#404040;
    //border: 2px solid lightslategrey;
    //margin: 15px 4px;
    //border-radius: 5px;
    max-height: 61px;
    color: white;
    p {
        margin-top: revert;
    }
}

.filters:hover {
    //background-color: grey;
}

