#grid-container {
    margin-top: 0.2rem;
    display: grid;
    grid-template-columns: minmax(200px, 3fr) 1fr 1fr 1fr;
    grid-column-gap: 0.5rem;
    align-items: baseline;
    .dropdown-basic {
        display: block;
        width: 100%;
    }
    .dropdown-menu {
        padding: 0.5rem 0.25rem;
    }
    .dropdown-toggle::after {
        margin-left: 2rem;
    }
}
